body {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
}

#root {
  padding: 0;
}

/*Navbar*/
span.patient-name-nav {
  float: right;
}

p.patient-name-nav {
  font-size: 1.5em;
}

li {
  margin: 0.5em;
}

button.navbar-btn {
  float: right;
  margin-left: 15px;
  color: white;
}
/*
button.navbar-btn:hover {
  background-color: #F39801;
  border-color: #F39801;
} */

span.nav-name {
  font-size: 1.2em;
  line-height: 1.7em;
  color: white;
}

img#logo{
  margin-left: 5px;
  margin-right: 5px;
}

a.nav-brand {
  font-size: 1.7em;
  color: white;
}

nav.navbar {
  background-color: #92B7BF;
}


div.backgroundImgContainer img {
  z-index: 50;
  position: fixed;
  width: 100%;
  height: 100%;
  }

  .tofront {
    z-index: 50;
    position: relative;
  }

  div.opacity {
    background-color: white;
    background: rgba(255,255,255,0.8);
    float: left;
    position: relative;
    margin-right: 1em;

  }

  h1.tagline {
    font-size: 8em;
    color: white;
    margin-top: 0.1em;


  }

  h1.tagline2 {
    font-size: 8em;
    color: white;
    margin-top: -0.59em;
  }

  nav.navbar {
    box-shadow: 3px 2px 30px 1px darkgray;

  }


/*Home Page*/
div.col-md-8 {
  margin-top: 3em;
}

div.col-md-4 {
  margin-top: 3em;
}

div.card {
  margin-bottom: 1.5em;
}

div.med-info-card {
  border-color: transparent;
}

div.med-info {
  padding-left: 1em;
}

div.appt-card {
  padding: 0;
}

a.aptbtn {
  float: right;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

button.aptbtn {
  float: right;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  background-color: #F39801;
  border-color: #F48302;
  margin-left: 0.5em;
  color: white;
}

button.aptbtn:hover {
  background-color: #F48302;
  color: white;
  border-color: #F48302;
}

button.aptbtn-delete {
  float: right;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  background-color: #65bace;
  border-color: #5ba8ba;
  margin-left: 0.5em;
  color: white;
}

button.aptbtn-delete:hover {
  background-color: #5ba8ba;
  color: white;
  border-color: #5ba8ba;
}

button.aptbtn-details {
  float: right;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  background-color: #5ba8ba;
  border-color: #498999;
  margin-left: 0.5em;
  color: white;
}

button.aptbtn-details:hover {
  background-color: #498999;
  color: white;
  border-color: #498999;
}

div.time-col {
  margin: 0.7em;
}

div.delete-button {
  margin: 0.5em;
}

div.detail-button {
  margin: 0.5em;
}

p.appt-time {
  font-size: 1em;
}

.login {
  border-radius: 5px;
  background-color: #F39801;
  border-color: #F48302;
  color: white;
}

a.logoutlink:link {
  color: #92B7BF
}

a.logoutlink:visited  {
  color: #92B7BF
}

a.logoutlink:active  {
  color: #92B7BF
}




.login:hover {
  background-color: #F48302;
  color: white;
  border-color: #F48302;
}

button.book-apt {
  padding: 1em;
  font-size: 1em;
  border-radius: 5px;
  background-color: #F39801;
  border-color: #F48302;
  color: white;
}

button.book-apt:hover {
  background-color: #F48302;
  color: white;
  border-color: #F48302;
}


h3.card-header {
  background-color: white;
  color: black;
}


/*Calendar*/
div.main {
  margin: 0 auto;
  margin-bottom: 3em;
  margin-top: 3em;
}

.left {
  float: left;
  clear: left;
}

.right {
  float: right;
  clear: right;
}


.textarea {
  width: 100%;
  margin-top: 1em;
}

.selector .btn:focus, .selector .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.selector {
  margin: 0.8em;
  padding: 0.7em;
  border-color: lightgray;
  width: 100%;
}

li {
  list-style-type: none;
}

div.backgroundImgContainer img {
z-index: 50;
position: fixed;
width: 100%;
height: 100%;
}

.tofront {
  z-index: 50;
  position: relative;
}

div.opacity {
  background-color: white;
  background: rgba(255,255,255,0.8);
  float: left;
  position: relative;
  margin-right: 1em;

}

h1.tagline {
  font-size: 8em;
  color: white;
  margin-top: 0.1em;


}

h1.tagline2 {
  font-size: 8em;
  color: white;
  margin-top: -0.59em;
}

nav.navbar {
  box-shadow: 3px 2px 30px 1px darkgray;

}

.cal {
  margin-top: 3em;
}

.calendar {
justify-content: right;
}

.appts {
  float: left;
  justify-content: left;
}

div.logincont {
  margin-top: 23%;
}

h2.logintitle {
  padding-top: 1.5em;
}

.apptDetails {
  margin-top: 3em;
  padding: 1.5em;
  width: 100%;
}

.btn {
}

